:root {
}

button {
  background-color: #5cb85f;
  padding: 6px 12px;
  border: 0;
  color: #ffffff;
}

header {
  background-color: #f1f3ff;
  height: 500px;
}

.hero-text p {
  font-size: 14px;
  width: 468px;
}

.hero-img {
  display: flex;

  height: 437px;
  align-items: end;
}

.hero-img img {
  width: 715px;
  height: 416px;
}
