:root {
  --primary: #0d28a6;
  --limegreen: #5cb85f;
  --limegreen01: #f1f3ff;
  --neutral: #151515;
}

body {
  font-family: "Helvetica";
}

/* Header */
.header h1 a {
  font-size: 24px;
  font-weight: bold;
}

.header button {
  background-color: var(--limegreen);
  font-size: 14px;
  padding: 6px 12px;
  border: 0;
  color: #ffffff;
}

.nav-item {
  font-size: 14px;
}

/* Hero Section */
.hero {
  background-color: var(--limegreen01);
  padding-top: 100px;
}

.hero h1 {
  font-size: 36px;
  font-weight: bold;
}

.hero button {
  background-color: var(--limegreen);
  width: 140px;
  height: 36px;
  font-size: 14px;
  padding: 6px 12px;
  border: 0;
  color: #ffffff;
}

.hero p {
  font-size: 14px;
  width: 468px;
}

.hero img {
  display: flex;
  height: 437px;
  align-items: end;
}

.hero .hero-img img {
  width: 658px;
  height: 400px;
}
/* End Hero */

/* Our Service */
.service {
  padding-top: 100px;
}

.service .image-service {
  width: 428px;
}

.service .image-service img {
  width: 400px;
}

.service h2 {
  font-size: 24px;
  font-weight: bold;
}

.service p {
  font-size: 14px;
  margin: 0;
}
/* End Our Service */

/* Why Us */
.why-us {
  padding-top: 100px;
}

.why-us h2 {
  font-size: 24px;
  font-weight: bold;
}

.why-us p {
  font-size: 14px;
}

.card {
  padding: 24px;
  width: 268px;
  height: 196px;
}

.card h3 {
  font-size: 16px;
}

.card img {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}
/* Why Us */

/* Testimonial */
.testimonial {
  width: 100%;
  padding-top: 100px;
}

.testimonial h2 {
  font-size: 24px;
  font-weight: 700;
}

.testimonial p {
  font-size: 14px;
  font-weight: 300;
}

.card-testi {
  background-color: var(--limegreen01);
  padding: 0 36px 0 36px;
  border-radius: 8px;
  height: 270px;
  margin: 0 0.5em;
}

.testi {
  width: 415px;
}

.card-testi img {
  width: 80px;
  height: 80px;
}

.rate img {
  width: 16px;
  height: 16px;
}

.rate p {
  font-size: 14px;
}

.pagination .prev {
  width: 32px;
  height: 32px;
  border: 1px solid #d4d4d4;
  border-radius: 50%;
}

.pagination .next {
  width: 32px;
  height: 32px;
  background: var(--limegreen);
  border-radius: 50%;
}

.pagination .prev a {
  color: var(--neutral);
  margin-left: 2px;
}

.pagination .next a {
  color: #fff;
  margin-left: 4px;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
    justify-content: center;
  }

  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
}

.tombol .prev button {
  height: 32px;
  width: 32px;
  border: 1px solid #d4d4d4;
  border-radius: 50%;
  background-color: #fff;
}

.tombol .next button {
  height: 32px;
  width: 32px;
  border: 0;
  border-radius: 50%;
  background-color: var(--limegreen);
  color: #fff;
}

/* End Testimonial */

/* cta banner */
.cta {
  padding-top: 100px;
}

.cta .banner {
  display: flex;
  align-items: center;
  height: 326px;
  background-color: var(--primary);
  border-radius: 24px;
}

.banner h2 {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}

.banner p {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.cta button {
  background-color: var(--limegreen);
  width: 140px;
  height: 36px;
  font-size: 14px;
  padding: 6px 12px;
  border: 0;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding: 100px;
}

.faq .section-title h2 {
  font-size: 24px;
  font-weight: 700;
}

.faq .section-title p {
  font-size: 14px;
  font-weight: 300;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  cursor: pointer;
  color: var(--nautral);
  text-decoration: none;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  font-size: 14px;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: var(--neutral);
  transition: 0.3s;
  text-decoration: none;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/* Footer */
.footer .address p {
  color: var(--neutral);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.footer .menu a {
  color: var(--neutral);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.footer .account p {
  color: var(--neutral);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.footer .account .social-media a {
  font-size: 18px;
  background: var(--primary);
  color: #fff;
  padding: 5px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
}

.footer .copyright p {
  color: var(--neutral);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.footer .copyright img {
  padding: 15px 50px 15px 50px;
  background-color: var(--primary);
}
