:root {
  --primary: #0d28a6;
  --limegreen: #5cb85f;
  --limegreen01: #f1f3ff;
  --neutral: #151515;
}

body {
  font-family: "Helvetica";
}

/* Header */
.header .logo {
  width: 100px;
  height: 34px;
  background-color: var(--primary);
}

.header .register {
  background-color: var(--limegreen);
  font-size: 14px;
  padding: 6px 12px;
  border: 0;
  color: #ffffff;
}

.header .nav-item {
  font-size: 14px;
  font-weight: 400px;
}

/* Hero Section */
.hero {
  background-color: var(--limegreen01);
  padding-top: 72px;
  position: relative;
}

.hero h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

.hero p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.hero button {
  border: 0;
  width: 140px;
  height: 36px;
  font-size: 14px;
  color: #ffffff;
  padding: 8px 12px;
  background-color: var(--limegreen);
}


.hero-img {
  margin-top: 220px
}
/* End Hero */

/* Our Service */
.service {
  margin-top: 60px;
}

.service h2 {
  color: #000;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.service p {
  color: var(--neutral);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
/* End Our Service */

/* Why Us */
.why-us {
  margin-top: 60px;
}

.why-us h2 {
  color: var(--neutral);
  text-align: center;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.why-us .section-title p {
  color: var(--neutral);
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.why-us .card {
  padding: 24px;
  height: 196px;
  margin-bottom: 24px;
}

.why-us .card h3 {
  font-size: 16px;
}

.why-us .card img {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}
/* Why Us */

/* Testimonial */
.testimonial {
  margin-top: 60px;
}

.testimonial h2 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.testimonial p {
  text-align: center;
  font-style: normal;
  line-height: 20px;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.testimonial .card-testi {
  padding: 40px 32px;
  border-radius: 8px;
  background: #F1F3FF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.testimonial .desc-testi p {
  text-align: start;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.testimonial .desc-testi span {
  color: #000;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* .testimonial .card-testi {
  background-color: var(--limegreen01);
  padding: 0 36px 0 36px;
  border-radius: 8px;
  height: 270px;
  width: 619px;
}

.testimonial .desc-testi {
  width: 415px;
}

.testimonial .card-testi img {
  width: 80px;
  height: 80px;
}

.testimonial .rate img {
  width: 16px;
  height: 16px;
}

.testimonial .rate p {
  font-size: 14px;
} */

/* .testimonial .pagination .prev button {
  height: 32px;
  width: 32px;
  border: 1px solid #d4d4d4;
  border-radius: 50%;
  background-color: #fff;
}

.testimonial .pagination .next button {
  height: 32px;
  width: 32px;
  border: 0;
  border-radius: 50%;
  background-color: var(--limegreen);
  color: #fff;
} */
/* End Testimonial */

/* CTA */
.cta {
  margin-top: 60px;
}

.cta .banner {
  background-color: var(--primary);
  padding: 64px;
  border-radius: 24px;
}

.cta .banner-desc h2 {
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
}

.cta .banner-desc p {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  line-height: 20px;
}

.cta button {
  background-color: var(--limegreen);
  width: 140px;
  height: 36px;
  font-size: 14px;
  padding: 6px 12px;
  border: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
/* End CTA */

/* Frequently Asked Questions */
.faq {
  margin-top: 60px;
}

.faq .section-title h2 {
  color: #000;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.faq .section-title p {
  color: #000;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.accordion-item {
  border: 0;
}

.accordion-header {
  padding: 8px 8px;;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}
/* End Frequently Asked Questions */

/* Footer */
.footer {
  margin: 60px 0 60px 0;
}

.footer .address p {
  color: var(--neutral);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.footer .menu a {
  color: var(--neutral);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
}

.footer .account p {
  color: var(--neutral);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.footer .account .social-media a {
  background: var(--primary);
  color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.footer .copyright p {
  color: var(--neutral);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.footer .copyright img {
  padding: 15px 50px 15px 50px;
  background-color: var(--primary);
}
/* End Footer */
